# Google Service Account (из JSON-ключа сервисного аккаунта)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n<key>\n-----END PRIVATE KEY-----\n"

# ID таблицы из URL: docs.google.com/spreadsheets/d/<ID>/edit
GOOGLE_SHEETS_SPREADSHEET_ID=

# Название листа в таблице (по умолчанию Sheet1)
GOOGLE_SHEET_NAME=Лист1
