.card {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  aspect-ratio: 93/58;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  position: relative;
  aspect-ratio: 93/58;
  width: 100%;
  user-select: none;
  z-index: 1;
}

.image_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  z-index: 10;
  top: 64px;
}

.text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  white-space: pre-wrap;
}

.black_bg {
  background-color: var(--BG_1);

  &::before,
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.15s ease-out;
    pointer-events: none;
    z-index: 0;
  }

  &::before {
    background-image: url("./hover.png");
  }

  &::after {
    background-image: url("./active.png");
  }

  &:hover::before {
    opacity: 1;
  }

  &:active::before {
    opacity: 0;
  }

  &:active::after {
    opacity: 1;
  }
}
