@mixin theme {
  --TX_0: #ffffff;
  --TX_1: #999999;
  --TX_2: rgba(255, 255, 255, 0.30);
  --TX_3: rgba(255, 255, 255, 0.50);
  --TX_4: #616161;

  --BLUE_HV: #006FEE;
  --BLUE_AC: #005BDA;

  --RED: #EF0000;

  --BG_0: #000000;
  --BG_1: #0A0A0A;
  --BG_2: #ffffff;

  --BR_0: rgba(255, 255, 255, 0.20);
  --BR_1: #BFBFBF;
  --BR_2: #3C3C3C;
  --BR_3: #282828;
  --BR_4: #141414;
}