.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
    color: inherit;
    width: 100%;
}

.title {
    transition: ease-in 0.1s;
}

.image {
    position: relative;
    width: 100%;
    aspect-ratio: 500 / 389;
    border-radius: 8px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.year {
    color: var(--TX_1);
}

.card:hover .title {
    color: var(--BLUE_HV);
}

.card:active .title {
    color: var(--BLUE_AC);
}